@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #414288;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#home {
    text-align: right;
    margin: 20px;
    font-size: 15px;
}

a {
    color: #EEE5E9;
    text-decoration: none;
}
a:hover {
    color: #EEE5E9;
    text-decoration: none;
}

#text{

}

#intro {
    margin-top: 15rem;
    margin-left: 20px;
    margin-right: 20px;
}

#siteLinks {
    color: black;
}
#siteLinks:hover {
    color: #5FB49C;
}

.element{
    margin-right: 15px;
    float: left;
    shape-outside: circle();
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: ease-in 100ms;
    box-shadow: -10px 5px 15p;
}

.element:hover {
    width: 250px;
    height: 250px;
}

#siteFooter {
    position:absolute;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#social {
    margin-top: 5rem;
    text-align: center;
    letter-spacing: 3px;
}